*{
    font-family:Microsoft YaHei
}
body,html{
    width:100%;
    height:100%;
    margin:0;
    overflow:hidden;
}
.box{
    width:100%;
    height:100%;
    background:url('../img/bg7.png') no-repeat; 
}
.user{
    position:absolute;
    top:32%;left:10px;
    font-size:24px;
}
.content{
    width:80%;
    position:absolute;
    top:40%;left:50%;
    margin-left:-40%;
}
@media only screen and (min-width: 320px) {
    html {
      font-size: 18px;
    }
  }
  @media only screen and (min-width:360px) {
    html {
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 375px) {
    html {
      font-size: 22px;
    }
  }
p{
    margin:0;
    font-weight:500;
}
.btn{
    width:30%;
    height:55.5px;
    position:absolute;
    top:80%;left:50%;
    transform:translate(-50%);
}