body {
  margin:0;
  background-image: url(../img/background.png);
  background-size: 100%;
}
.user{
    margin-top:5%;
    margin-left:6%;
    font-size:1.08rem;
}
.top {
  width: 100%;
  margin-top:8%;
}
.center{
  width:100%;
  text-align:center;
}
.content{
    width:80%;
    margin-top:5%;margin-left:10%;
    font-size:1rem;
}
@media only screen and (min-width: 320px) {
    html {
      font-size: 18px;
    }
  }
  @media only screen and (min-width:360px) {
    html {
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 375px) {
    html {
      font-size: 22px;
    }
  }
p{
    margin:0;
}
.btn{
    width:33%;
    margin-left:35%;
    margin-top:20%;
}