body {
    background-image: url(../img/background.png);
    background-size: 100%;
    text-align: center;
  }
  
  .top {
    width: 100%;
    margin-top:2%;
  }
.banner{
    width:90%;
}
.event{
    display:none;
    position:absolute;
    width:100%;
}
.event.e1{
    top:20%;
}
.event.e2{
    top:30%;
}
.event.e3{
    top:40%;
}
.event.e4{
    top:50%;
}
@keyframes pop{
    from {
        opacity: 0;
        display:none;
    }

    to {
        opacity: 1;
        display:block;
    }
}
.center{
    width:100%;
    text-align:center;
}
.bottom{
   width: 100%;
   margin-top:75%;
  }