*{
    font-family:Microsoft YaHei
}
body,html{
    width:100%;
    height:100%;
    margin:0;
    overflow:hidden;
    text-align:center;
}
.box{
    width:100%;
    height:100%;
    background:url('../img/bg3.png') no-repeat; 
    background-size: 100% 100%;
    text-align:center;
}
img{
    width:90%;
}
.event{
    display:none;
    position:absolute;
    width:100%;
}
.event.e1{
    top:30%;
}
.event.e2{
    top:40%;
}
.event.e3{
    top:50%;
}
.event.e4{
    top:60%;
}
@keyframes pop{
    from {
        opacity: 0;
        display:none;
    }

    to {
        opacity: 1;
        display:block;
    }
}