body {
    background-image: url(../img/background.png);
    background-size: 100%;
    text-align: center;
  }
.top {
    width: 100%;
    margin-top:3%;
}
.bottom{
    position:relative;
    width: 80%;
    margin-top:3%;
   }
.banner{
    width:90%;
}
.event{
    display:none;
    position:relative;
    width:100%;
    margin-top:5%;
}
.event.e1{
    top:25%;
}
.event.e2{
    top:35%;
}
.event.e3{
    top:45%;
}
.event.e4{
    top:55%;
}
@keyframes pop{
    from {
        opacity: 0;
        display:none;
    }

    to {
        opacity: 1;
        display:block;
    }
}
