body{
    background:url(../img/background.png);  
    background-size:100%;
  }
  .top {
    width: 100%;
    margin-top:25%;
  }
  .center{
    width:100%;
    text-align:center;
  }
  .btn {
    width: 35%;
    margin-top: 6%;
  }