* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/background.png);
  background-size: 100%;
}

.center{
  width:100%;
  text-align:center;
}
.top {
  width: 100%;
  margin-top:10%;
}

.text {
  margin-top: 2%;
  width: 100%;
}

.button {
  width: 33%;
  margin-top: 6%;
}
