* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url(../img/background.png);
    background-size: 100%;
  }
  
  .top {
    width: 100%;
    margin-top:10%;
  }

  .center{
    position:relative;
    width:100%;
    text-align:center;
  }
  
  .text {
    position:relative;
    margin-top: 2%;
    width: 80%;
    left:50%;
    transform: translate(-50%);
  }
  
  .button {
    width: 33%;
    margin-top: 6%;
  }
  