/* 背景 */
* {
  font-family:Microsoft YaHei;
}
body{
  background:url(../img/background.png);  
  background-size:100%;
}
.top {
  width: 100%;
  margin-top: 10%;
}
/* 主体 */
.greeting{
    width:100%;
    position:absolute;
    top:25%; left:50%;
    transform:translate(-50%);
    text-align:center;
}
.image{
    float:left;
    vertical-align:middle;
    width:22%;
}
.content{
    display:inline;
    vertical-align:middle;
}
p{
    margin:0;
}
.sel{
    width:100%;
    vertical-align:bottom;
    position:absolute;
    top:36%;
    padding-left:8%;
}
@media only screen and (min-width: 320px) {
    p,span,.greeting,.q{
      font-size: 15px;
    }
    .o{
        width:14px;
        height:14px;
    }
    .o:before{
        width:7px;
        height:7px;
    }

  }
  @media only screen and (min-width: 360px) {
    p,span,.greeting,.q{
      font-size: 18px;
    }
    .o{
        width:16px;
        height:16px;
    }
    .o:before{
        width:8px;
        height:8px;
    }

  }
  @media only screen and (min-width: 400px) {
    p,span,.greeting,.q{
      font-size: 20px;
    }
    .o{
        width:17px;
        height:17px;
    }
    .o:before{
        width:9px;
        height:9px;
    }

  }
/* 单选圆 */
.hide{
    display: none;
  }
  .o{
    display: inline-block;
    position: relative;
    border:2px solid black;
    background:#ffffff;
    border-radius:100%;
    vertical-align: bottom;
    margin-right: 5px;
  }
  .o:before{
    display: none;
    position: absolute;
    content:"";
    border-radius:100%;
    background:black;
    margin:4px 2px 2px 4px;
  }
  .hide:checked~.o:before{
    display: block;
  }
  .w{
    vertical-align:middle;
    padding-left:10px;
  }
.q_img{
    position: absolute;
    top:30%;
    width:30px;
    height:30px;
}
.question{
    position:absolute;
    top:42%;left:50%;
    transform:translate(-50%);
    width:80%;
    height:50%;
}
.icon{
    width:10px;
    height:100%;
    background:#ffffff url("./img/Q.png")  no-repeat; 
    padding-left:20px;
}
.q{
    width:100%;
    border:solid black 2px;
    border-radius:10px;
    padding:2px 5px 2px 5px;
    margin-right:0px;
    margin-bottom:5%;
    background:#ffffff;
}
.btn1{
    width:28%;
    position:absolute;
    top:75%;left:50%;
    transform:translate(-50%);
}
.btn2{
    width:28%;
    position:absolute;
    top:85%;left:50%;
    transform:translate(-50%);
}