/* 背景 */
* {
    font-family:Microsoft YaHei;
  }
  body{
    background:url(../img/background.png);  
    background-size:100%;
  }
  .top {
    width: 100%;
    margin-top: 10%;
  }
  .center{
    width:100%;
    text-align:center;
  }
.tip{
    width: 60%;
    margin-left:20%;
    margin-top: 10%;
}
.btn1{
    width:30%;
    margin-left:35%;
    margin-top:20%;
}
.btn2{
    width:30%;
    margin-left:35%;
    margin-top:10%;
}