*{
  font-family:Microsoft YaHei;
}
body{
  margin:0;
  background:url(../img/background.png);  
  background-size:100%;
}
.top {
  width: 100%;
  margin-top:8%;
  margin-bottom:5%;
}
.tips{
  padding:3%;
  font-size:6vw;
}
.center{
  text-align:center;
  width:100%;
}
.btn1{
    width:32%;
}
.btn2{
    width:32%;
    margin-top:4%;
}
