*{
  font-family:Microsoft YaHei;
}
body{
  background:url(../img/background.png);  
  background-size:100%;
}
.top {
  width: 100%;
  margin-top:8%;
  margin-bottom:5%;
}
.tips{
  margin:2px;
}
.greeting{
  text-align:left;
  font-size:8vw;
  margin-bottom:2%;
}
p{
    margin:0;
    text-indent:2em;
    font-size:6vw;
}
.btn1{
    width:35%;
    position:absolute;
    left:50%; top:68%;
    transform:translate(-50%);
}
.btn2{
    width:35%;
    position:absolute;
    left:50%; top:82%;
    transform:translate(-50%);
}
