*{
  font-family:Microsoft YaHei;
}
body{
  margin:0;
  background:url(../img/background.png);  
  background-size:100%;
}
.top {
  width: 100%;
  margin-top:8%;
  margin-bottom:5%;
}
.tips{
  padding:3%;
}
.btn1{
    width:35%;
    position:absolute;
    left:50%; top:68%;
    transform:translate(-50%);
}
.btn2{
    width:35%;
    position:absolute;
    left:50%; top:82%;
    transform:translate(-50%);
}
